node_modules/
**/node_modules/

.env
**/.env

__pycache__/
**/__pycache__/
*.pyc

# Ollama
ollama/

base_analytique.duckdb
python_service/etl_analytique/data/
python_service/predict_service/predictions/

