.map-container{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    padding:30px;
    box-sizing:border-box;
}

.france-map{
    width:100%;
    max-width:650px;
    height:auto;
}